.cmb-group-table table {
	width: 100%;
}

.cmb-layout-non-repeatable,
.cmb-group-table th {
	border-top: #dfdfdf solid 1px;
}

.cmb-group-table tr {
	background: #fff;
}

.cmb-group-table td:last-child,
.cmb-group-table th:last-child {
	border-right: #dfdfdf solid 1px;
}

.cmb-group-table th,
.cmb-group-table td {
	border-bottom: #dfdfdf solid 1px;
	border-left: #dfdfdf solid 1px;
	padding: 8px !important;
	text-align: left;
	vertical-align: top;
}

.cmb-group-table.cmb-group-display-row td {
	padding-bottom: 0 !important;
}

.cmb-group-table .cmb-th {
	border-bottom: 1px solid #e9e9e9;
	margin: 0 0 -10px 0;
	padding: 0 10px;
	width: 50%;
}

.cmb-group-table .cmb-group-row-fields {
	margin: 0 !important;
	padding: 0 !important;
}

.cmb-group-row-fields td,
.cmb-group-row-fields th {
	border: none !important;
	border-bottom: #eee solid 1px !important;
}

.cmb-group-row-fields tr:last-of-type td {
	border-bottom: none !important;
}

.cmb-group-row-fields th {
	background: #f9f9f9;
	border-right: 1px solid #e1e1e1 !important;
	vertical-align: top;
	width: 20%;
}

.cmb-group-table-control {
	background: #f4f4f4;
	padding: 0 !important;
	text-align: center !important;
	text-shadow: #fff 0 1px 0;
	vertical-align: middle !important;
	width: 16px;
}

.cmb-group-table .cmb-group-table-control a {
	display: block !important;
	float: none !important;
	margin: 5px 0 !important;
	text-align: center !important;
}

.cmb-group-table-control a,
.cmb-group-table-control h3 {
	color: #aaa !important;
}

.cmb-group-table-control a:hover,
.cmb-group-table-control:hover h3 {
	color: #23282d !important;
}

.cmb-group-table .cmb-group-table-control .cmb-remove-group-row {

	margin-top: 12px !important;
}

.cmb-group-table .cmb-group-table-control .cmb-remove-group-row span {
	color: #f55e4f !important;
	font-size: 23px;
	margin: -1px 0 0 -2px;
}

.cmb-repeatable-group.sortable .cmb-group-table-control:first-child {
	cursor: move;
}

.cmb-group-table {
	.ui-sortable-helper {
		border-top: 1px solid #e9e9e9;
	}

	.cmb-group-title {
		background: none;
		margin: 0 !important;
		padding: 0 !important;
		position: relative;
	}

	th {
		width: auto;
	}

	.cmb-repeat-group-field {
		margin: 0 0 0.5em !important;
		padding: 0 !important;
	}

	&.cmb2-group-context-side {
		.cmb-add-row {
			margin: 1.2em 0 1em !important;
		}
	}
}

.cmb2-options-page .cmb-repeatable-group .cmb-group-name,
#poststuff .cmb-repeatable-group h2.cmb-group-name {
	font-size: 18px;
	font-weight: 500;
	margin: -10px 0 0 -10px;
}

.cmb2-options-page .cmb-repeatable-group .cmb-group-name {
	margin: 0 0 10px 0;
}

.cmb-layout-description {
	margin: -10px 0 0 0 !important;
	padding: 0 0 3px 3px !important;
}
