.lipe-libs-terms-box {
	/* Remove Genesis "Select / Deselect All" button. */
	#genesis-category-checklist-toggle {
		display: none;
	}

	ul {
		li:last-child {
			border-top: 1px solid #eee;
			color: #888;
			margin-top: 5px;
			padding-top: 5px;
		}
	}
}

/**
 * Fix for Select2 fields in Meta Boxes.
 */
.cmb-type-lipelibcmb2field-typesterm-select-2 {
	.select2-container {
		input {
			line-height: 1 !important;
			margin: 2px 0 0 !important;
			min-height: 20px;
			padding: 0 !important;
		}

		.select2-selection--multiple {
			display: flex;
		}

		.select2-search__field {
			font-size: 1.15em;
			line-height: 1.2;
			margin: 8px 6px 0;
		}

		.select2-selection__choice__remove {
			padding: 1px 4px 3px;
		}

		.select2-selection__choice {
			padding: 2px 2px 5px 22px;
		}
	}
}
