.lipe-libs-terms-box {
	/* Remove Genesis "Select / Deselect All" button. */
	#genesis-category-checklist-toggle {
		display: none;
	}

	ul {
		li:last-child {
			border-top: 1px solid #eee;
			color: #888;
			margin-top: 5px;
			padding-top: 5px;
		}
	}
}

/**
 * Fix for Select2 fields in Meta Boxes.
 */
.cmb-type-lipelibcmb2field-typesterm-select-2 {
	.select2-container {
		input {
			line-height: 1 !important;
			min-height: 20px;
			margin: 2px 0 0 !important;
			padding: 0 !important;
		}
	}
}
