/**
 * True/False Switch
 * Based on: http://proto.io/freebies/onoff/
 */
.lipe-lib-true-false-wrap {
	position: relative;
	width: 60px;
	box-sizing: content-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	.lipe-lib-true-false-checkbox {
		display: none;
	}
}

.lipe-lib-true-false-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	background: #f7f7f7;
	border-width: 1px;
	border-style: solid;
	border-color: #999;
	border-radius: 3px;
	transition: all 0.3s ease-in 0s;
}

.lipe-lib-true-false-label[for='readonly'] {
	cursor: default;
}

.lipe-lib-true-false-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.lipe-lib-true-false-inner:before, .lipe-lib-true-false-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 28px;
	padding: 0;
	line-height: 28px;
	font-size: 14px;
	color: white;
	box-sizing: border-box;
}

.lipe-lib-true-false-inner:before {
	content: 'Yes';
	padding-left: 5px;
	background-color: #2a9bd8;
	color: #fff;
}

.lipe-lib-true-false-inner:after {
	content: 'No';
	padding-right: 5px;
	color: #555;
	background: #f7f7f7;
	box-shadow: 0 1px 0 #ccc;
	text-align: right;
}

.lipe-lib-true-false-switch {
	display: block;
	width: 18px;
	margin: 5px;
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 28px;
	border: 1px solid #999;
	border-radius: 3px;
	transition: all 0.3s ease-in 0s;
}

.lipe-lib-true-false-checkbox:checked + .lipe-lib-true-false-label .lipe-lib-true-false-inner {
	margin-left: 0;
}

.lipe-lib-true-false-checkbox:checked + .lipe-lib-true-false-label,
.lipe-lib-true-false-checkbox:checked + .lipe-lib-true-false-label .lipe-lib-true-false-switch {
	border-color: #0073aa #006799 #006799;
	box-shadow: 0 1px 0 #006799;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.lipe-lib-true-false-checkbox:checked + .lipe-lib-true-false-label {
	background: #0085ba;
}

.lipe-lib-true-false-checkbox:checked + .lipe-lib-true-false-label .lipe-lib-true-false-switch {
	right: 0;
}
