################################
#
# @version 6.2.1
#
################################

# Project specific
/vendor
composer.lock


# system/hidden files
*.bak
*.sublime-project
*.sublime-workspace
*.swp
*~
.DS_Store
.DS_Store?
.Trashes
.cvs
.eslintcache
.phpcs.cache
.phpunit.cache
.phpunit.result.cache
.project
.ready
.running
.sass-cache
.stylelintcache
.svn
.vscode
Thumbs.db
ehthumbs.db
tsconfig.tsbuildinfo

# log files
*.log

# local configs
local-config.php
local-config.json
phpcs.xml
phpstan.neon
phpunit.xml

# Yarn Berry files
install-state.gz
build-state.yml
node_modules
