####################################################################
#
# Files and directories excluded when installed via `--prefer-dist`.
#
# @notice Will also be excluded for Zip downloads of tags.
#
# @link https://git-scm.com/docs/gitattributes#_export_subst
#
######################################################################
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/dev export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
