<?xml version="1.0"?>
<ruleset name="WP Libs - Rules">
	<!-- See https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->

	<description>Ruleset for WordPress Libs</description>
	<version>3.3.0</version>

	<!-- Include when not specified -->
	<file>./src</file>

	<!-- Show file path based on project root. -->
	<arg name="basepath" value="." />
	<!-- Cache between runs -->
	<arg name="cache" value="./.phpcs.cache" />
	<!-- Sniff both PHP and JS. -->
	<arg name="extensions" value="php/PHP" />
	<!-- Show sniff codes in all reports, and progress when running. -->
	<arg value="sp" />

	<!-- Exclude paths -->
	<exclude-pattern>*/dev/*</exclude-pattern>

	<config name="minimum_supported_wp_version" value="5.5" />

	<!-- @see https://github.com/PHPCompatibility/PHPCompatibility#using-a-custom-ruleset -->
	<config name="testVersion" value="7.3-" />
	<!-- @see https://github.com/PHPCompatibility/PHPCompatibilityWP#how-to-use -->
	<rule ref="PHPCompatibilityWP" />

	<rule ref="WordPress">
		<exclude name="WordPress.Variables.GlobalVariables.OverrideProhibited" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid" />
		<exclude name="WordPress.NamingConventions.ValidHookName.UseUnderscores" />
		<exclude name="WordPress.PHP.DisallowShortTernary.Found" />
		<exclude name="Generic" />
		<exclude name="Squiz" />
	</rule>
	<rule ref="WordPress.Security.ValidatedSanitizedInput">
		<properties>
			<property name="customUnslashingSanitizingFunctions" type="array">
				<element value="wp_verify_nonce" />
			</property>
		</properties>
	</rule>

	<!-- Translations -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="lipe" />
		</properties>
	</rule>
</ruleset>
