<?xml version="1.0"?>
<ruleset name="WP Libs - Rules">
	<!-- See https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->

	<description>Ruleset for WordPress Libs</description>
	<version>4.0.3</version>

	<!-- Include when not specified -->
	<file>./src</file>

	<!-- Show file path based on project root. -->
	<arg name="basepath" value="." />

	<!-- Cache between runs -->
	<arg name="cache" value="./.phpcs.cache" />

	<!-- @see https://github.com/PHPCompatibility/PHPCompatibilityWP#how-to-use -->
	<config name="minimum_supported_wp_version" value="5.8" />
	<config name="testVersion" value="7.4-" />

	<rule ref="LipePlugin">
		<exclude name="Generic.Commenting.DocComment" />
		<exclude name="Generic.PHP.DisallowShortOpenTag.EchoFound" />

		<exclude name="Squiz.Commenting.FunctionComment.Missing" />
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment" />

		<exclude name="WordPress.PHP.DisallowShortTernary.Found" />
	</rule>

	<!-- Allow the "lipe" or "Lipe" prefix for hooks, namespaces and functions -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="Lipe\Lib" />
				<element value="lipe/lib" />
			</property>
		</properties>
	</rule>

	<!-- Translations -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="lipe" />
		</properties>
	</rule>
</ruleset>
