# @version 2.1.0

includes:
    # Include the lipemat phpstan rules.
    - %rootDir%/../../../rules.neon

parameters:
    level: 8
    lipemat:
        noExtends: true
        allowedToBeExtended:
            - Lipe\Lib\Query\Args
            - Lipe\Lib\Meta\Translate_Abstract
            - Lipe\Lib\CMB2\Box
            - Lipe\Lib\CMB2\Field
        nonDistributed: false
    strictRules:
        allRules: true
        # Construct empty() is not allowed.
        disallowedConstructs: false
        noVariableVariables: false
    # Array value type is required.
    checkMissingIterableValueType: false
    paths:
        - src
    scanFiles:
        - dev/stubs/wp-smush.php
        - %rootDir%/../../../stubs/cmb2/cmb2-2.10.php
