parameters:
    level: 6
    strictRules:
        allRules: false
    paths:
        - src
    scanFiles:
        - dev/stubs/wp-smush.php
        - %rootDir%/../../../stubs/cmb2/cmb2-2.10.php
    checkMissingIterableValueType: false
