# @version 2.2.0

includes:
    # Include the lipemat phpstan rules.
    - %rootDir%/../../../rules.neon
    # Baseline errors to be resolved.
    - dev/phpstan-baseline.php

parameters:
    level: 8
    lipemat:
        noExtends: true
        allowedToBeExtended:
            - Lipe\Lib\CMB2\Box
            - Lipe\Lib\CMB2\Field
            - Lipe\Lib\Meta\Translate_Abstract
            - Lipe\Lib\Query\Args
            - Lipe\Lib\Taxonomy\Get_Terms
        nonDistributed: false
    strictRules:
        allRules: true
        # Construct empty() is not allowed.
        noVariableVariables: false
    paths:
        - src
    scanFiles:
        - dev/stubs/wp-smush.php
        - %rootDir%/../../../stubs/cmb2/cmb2-2.10.php
