<?xml version="1.0" encoding="UTF-8"?>
<!-- Version 2.0.4 -->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
	beStrictAboutOutputDuringTests="true"
	bootstrap="bootstrap.php"
	cacheDirectory=".phpunit.cache"
	colors="true"
	displayDetailsOnIncompleteTests="true"
	displayDetailsOnSkippedTests="true"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	displayDetailsOnTestsThatTriggerNotices="true"
	failOnEmptyTestSuite="true"
	stopOnError="true"
	stopOnFailure="true"
>
	<php>
		<env name="HTTP_HOST" value="wp-libs.loc" />
	</php>
	<testsuites>
		<testsuite name="WP Libs">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>../../src</directory>
		</include>
	</source>
</phpunit>
